// 添加按钮特效
@mixin add-button-effects($color: $primary-color) {
  &::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    border: 4px solid $primary-color;
    transform: scale(1);
    transform-origin: center;
  }
  &:hover::before {
    transition: all 0.75s ease-out;
    border: 1px solid#e6f7ff;
    transform: scale(1.25);
    opacity: 0;
  }

  &:active {
    opacity: 0.86;
  }
}
