// color
$primary-color: #e2608b !default;
$primary-color-secondary: #f189ac !default;
$info-color: #bda097 !default;
$warning-color: #ff8f00 !default;
$success-color: #8db255 !default;
$danger-color: #903555 !default;
$white: #fff !default;
$black: #000 !default;

// font-size
$font-size-middle: 14px;
